:root {
  --navbar-height: 45px;
  --transition-timing: 200ms;
}

.navbar {
  padding: 12px;
  height: var(--navbar-height);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: azure;

  position: sticky;
  top: 0;
}

.navbar .navbar-links ul {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  gap: 12px;
}

.navbar .navbar-links ul li {
  list-style: none;
}

.navbar .navbar-links ul li:hover {
  background-color: white;
  color: black;
  cursor: pointer;
}

.burger {
  display: none;
  margin: 0px;
  width: 20px;
  height: 20px;
  background-color: blueviolet;
  background-size: contain;
  background-size: 100%;

  background-image: url('assets/icons/burger-simple-svgrepo-com.svg');
  transform: rotate(0deg);

  transition: all var(--transition-timing);
}

.burger.toggled {
  background-image: url('assets/icons/cross-small-svgrepo-com.svg');
  transform: rotate(360deg);
}

.burger:hover {
  cursor: pointer;
}

/* .svg {
  width: 100%;
  height: 100%;
} */

@media only screen and (max-width: 700px) {
  .burger {
    display: block;
  }

  .navbar .navbar-links {
    position: absolute;
    top: var(--navbar-height);
    left: 0;
    width: 100%;
    overflow: hidden;
  }

  .navbar .navbar-links ul {
    display: flex;
    flex-direction: column;
    gap: 0;
  }

  .navbar .navbar-links ul li {
    background-color: lightcoral;
    text-align: center;

    height: 0px;
    transition: height 200ms;
  }

  .navbar .navbar-links.active ul li {
    height: 20px;
  }
}
