* {
  box-sizing: border-box;
}

@font-face {
  font-family: "SF Pro Display";
  src: url("/assets/fonts/SF_Pro_Display/SFPRODISPLAYREGULAR.OTF")
    format("opentype");
}

/* @font-face {
  font-family: "ocr";
  src: url("/assets/fonts/OCR_OneC.otf") format("opentype");
} */

body {
  margin: 0;
  padding: 0;
  /* font-size: 18px; */
  /* font-weight: 400; */
  /* letter-spacing: 0.012em; */
  /* line-height: 1.4em; */
  font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica",
    "Arial", sans-serif;
  color: black;
}

main {
  margin: 0px;
  /* padding: 8px 0px; */
  color: black;
}

main > div {
  padding: 8px 16px;
  display: flex;
  flex-direction: column;
  max-width: 1000px;
  margin: 8px auto;
  justify-content: center;
  /* align-items:flex-start; */
}

.titlebox {
  font-size: 18px;
  margin: 16px auto;
}

.titlebox p {
  margin: 0px 0px;
  /* padding: 0px; */
}

h1 {
  margin: 0px 0px 12px 0px;
  padding: 0px;
  /* letter-spacing: .012em; */
  font-family: "Roboto Mono", monospace;
}

main > a {
  width: 100%;
  padding: 0px;
  /* margin: 8px 0px; */
  /* filter: grayscale(100%); */
}

main > div > img {
  width: 100%;
  padding: 0px;
  margin: 0px;
}

.maintxt {
  margin: 16px 0px;
  padding: 0px;
  font-size: 18px;
  letter-spacing: 0.012em;
  line-height: 1.4em;
  /* column-count: 2; */
  text-align: left;
  font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica",
    "Arial", sans-serif;
}

.proj_gallery {
  margin: 0px;
  padding: 0px;
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 2px;
}

#gallerybutton {
  /* 1 option */
  display: inline-block;
  padding: 10px;
  background-color: white;
  color: black;
  border: 1px solid black;
  text-align: center;
  text-decoration: none;

  /* 2 option */
  /* padding: 14px 18px;
  margin: auto;
  text-decoration: none;
  display: inline-block;
  text-align: center;
  min-width: 23px;
  white-space: nowrap;
  background-color: #333;
  color: white;
  border-radius: 50px; */
}

#gallerybutton:hover {
  color: blue;
  border: 1px solid blue;
}

.bottom-nav-container {
  padding: 10px 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* text-decoration: none; */
}

.bottomlink {
  text-decoration: none;
  color: rgb(29, 83, 221);
  cursor: pointer;
}

.bottomlink:hover {
  text-decoration: underline;
}

footer {
  border-top: 1px solid #333;
  font-size: 12px;
}

footer > div {
  display: flex;
  max-width: 1000px;
  margin: 0px auto;
  padding: 16px;
  display: flex;
  flex-direction: row;
  justify-content: left;
}

footer > div > p {
  margin: 0px;
}
