<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="stylesheet" href="style_main_footer.css" />
    <link rel="stylesheet" href="style_topnav.css" />

    <title>About - Alexander Miroshin</title>
  </head>
  <body>
    <h1>About</h1>
    <p>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Excepturi quasi
      vitae repellendus neque ipsa blanditiis quo explicabo quibusdam culpa
      optio, placeat reiciendis, natus, nam accusamus ullam est quam ducimus
      rem?
    </p>
    <h1>Contact me</h1>
    <ul>
      <li>telephone number: +90 (535) 488 66-35</li>
      <li>
        instagram:
        <a href="https://www.instagram.com/miroshindraw/"> @miroshindraw </a>
      </li>
      <li>
        mail:
        <a href="mailto: alexmiroshinov@gmail.com">
          alexmiroshinov@gmail.com
        </a>
      </li>
    </ul>
  </body>
</html>
