<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="preconnect" href="https://rsms.me/" />
    <link rel="stylesheet" href="https://rsms.me/inter/inter.css" />

    <link rel="stylesheet" href="/styles/style-common.css" />
    <link rel="stylesheet" href="/styles/cv.css" />

    <script src="/scripts/cv.js"></script>

    <title>CV - Alexander Miroshin</title>
  </head>
  <body>
    <div class="main-container">
      <main>
        <nav class="back">
          <a href="/index.html">&#x2190; back to index</a>
        </nav>
        <section class="tab about" id="about" style="display: block">
          <p class="hello">Hi! My name is</p>
          <h1>Alexander Miroshin</h1>
          <p>
            And in my projects I strive for a clean,functional yet attractive
            design. Right now I'm looking for a contract/part-time job as an
            Architect, 3D Designer or a Junior Concept Artis (films and games).
            My location is Belgrade, Serbia and I'm ready to work all over the
            world.
          </p>
          <!-- <p style="color: lightgray">Blablabla-9</p> -->
        </section>
        <section class="tab experience" id="experience" style="display: none">
          <div class="experience">
            <h2>Experience</h2>

            <div class="experience-item">
              <h3>
                <a href="https://www.facebook.com/migurban">
                  Interregional Urban Planning Institute (MIG)
                </a>
              </h3>
              <p class="experience-date">June 2018 - September 2018</p>
              <p class="experience-title">Architecture Designer</p>
              <ul class="columns-flow-two-three">
                <li>
                  Designed facades for a multifunctional complex in Moscow
                  Oblast
                </li>
                <li>Prepared a brief for the 3D-visualisation</li>
                <li>Made the final presentation layout</li>
              </ul>
            </div>
            <div class="experience-item">
              <h3>
                <a href="https://builart.com/">
                  Builart
                </a>
              </h3>
              <p class="experience-date">January 2019 - February 2020</p>
              <p class="experience-title">Interior design intern</p>
              <ul>
                <li>Carried out site measurments</li>
                <li>Modelled measured site in Archicad</li>
                <li>
                  Layouted working documentation and presentation for a customer
                </li>
              </ul>
            </div>
            <div class="experience-item">
              <h3>Freelance</h3>
              <p class="experience-date">September 2020 - June 2021</p>
              <p class="experience-title">Designer</p>
              <ul class="columns-flow-two-three">
                <li>Concept art</li>
                <li>Architecture design</li>
                <li>Illustration</li>
              </ul>
            </div>

            <div class="experience-item">
              <h3>
                <a href="https://www.i-npz.ru/en/home-en/"> KNGK-INPZ </a>
              </h3>
              <p class="experience-date">Novenber 2021 - Today</p>
              <p class="experience-title">Architect</p>
              <ul class="columns-flow-two-three">
                <li>Worked on a bunch of conceptual projects</li>
                <li>
                  Implemented BIM for production designs and for a regular basis
                  workflow
                </li>
                <li>Developed design standarts for working documentation</li>
                <li>
                  Drew a lot of preliminary sketches/diagrams to prevent time
                  wasting on unusable design solutions
                </li>
              </ul>
            </div>
          </div>
          <div class="experience">
            <h2>Education</h2>
            <div class="experience-item">
              <h3>
                <a href="https://nngasu.ru/">
                  Nizhni Novgorod State University of Architecture and Civil
                  Engineering (NNGASU)
                </a>
              </h3>
              <p class="experience-date">September 2015 - April 2020</p>
              <p class="experience-title">
                Architecture and Uban Planning / Bachelor's degree
              </p>
              <ul class="columns-flow-two-three">
                <li>Civil Arcitecture Desing</li>
                <li>Civil Building Constructions</li>
                <li>Building Information Modelling</li>
                <li>Building Construction Estimation</li>
                <li>Geodesy and Surveying</li>
                <li>Fine Arts</li>
              </ul>
            </div>
          </div>
        </section>
        <section class="tab contact-me" id="contact-me" style="display: none">
          <!-- <br /> -->
          <h2>Contact me</h2>
          <p>Do you want to team up with me?</p>
          <ul class="links">
            <li>
              <a href="mailto: alexmiroshinov@gmail.com"> mail &#x2192; </a>
            </li>
            <li>
              <a
                href="https://www.linkedin.com/in/alexander-miroshin-816677269/"
              >
                linkedin &#x2192;
              </a>
            </li>
            <li>
              <a href="https://github.com/sunnyochek"> github &#x2192; </a>
            </li>
            <li>
              <a href="https://www.artstation.com/alexmiroshin">
                artstation &#x2192;
              </a>
            </li>
            <li>
              <a href="https://instagram.com/miroshindraw">
                instagram &#x2192;
              </a>
            </li>
            <li>
              <a href="https://www.facebook.com/alexmiroshin/">
                facebook &#x2192;
              </a>
            </li>
            <li>
              <a href="https://t.me/a_miroshin"> telegram &#x2192; </a>
            </li>
            <!-- <li>twitter &#x2192;</li> -->
          </ul>
        </section>
      </main>
      <div class="buttons-container">
        <button onclick="openTab(event, 'about')" class="active">about</button>
        <button onclick="openTab(event, 'experience')">experience</button>
        <button onclick="openTab(event, 'contact-me')">contact me</button>
      </div>
      <!-- <footer>
      <a href="/index.html">back to index</a>
    </footer> -->
    </div>
  </body>
</html>
