
.main-container {
  display: flex;
  flex-direction: row-reverse;
  height: 100vh;
  width: 100%;
  background-color: var(--yellow);
}

main {
  flex: 80%;
  padding: 24px;
  overflow-y: auto;
  background-color: white;
}



.buttons-container {
  height: min-content;
  margin-top: 110px;
  flex: 20%;
  display: flex;
  flex-direction: column;
}

.buttons-container button {
  text-decoration: none;
  border: none;
  padding: 12px;
  flex: 30%;
  background-color: var(--yellow);
  color: var(--black);

  font-family: "Inter", sans-serif;
  /* font-weight: 450; */
  font-size: 16px;
  text-transform: lowercase;
}

.buttons-container button:hover,
.buttons-container button.active {
  /* background-color: var(--yellow); */
  background-color: white;
}

.buttons-container button:hover {
  cursor: pointer;
}

.buttons-container button:focus-visible {
  outline: var(--black) solid 2px;
  outline-offset: -2px;
}

nav.back {
  margin-bottom: 60px;
}

nav.back > a {
  text-decoration: initial;
  color: lightgrey;
  /* transition: color 0.25s; */
  font-size: 15px;
}

nav.back > a:hover {
  color: initial;
  /* transition: color 0.25s; */
}

p.hello {
  margin: 0;
  color: rgb(175, 175, 175);
  font-size: 18px;

}

h1 {
  margin-top: 0;
  font-size: 60px;
  letter-spacing: -0.045em;
  line-height: 1em;
  color: var(--black);
}

h1 ~ p {
  margin-top: 0;
  font-size: 24px;
}

h2 {
  margin-top: 0;
  margin-bottom: 60px;
  font-size: 18px;
  font-weight: 650;
  color: var(--black);
}

h3 {
  margin-top: 0;
  margin-bottom: 6px;
  font-size: 32px;
  font-weight: 650;
  color: var(--black);
}

.experience {
  margin-bottom: 108px;
}

.experience-item a {
  text-decoration: initial !important;
  color: var(--black);
}

.experience-item a:hover {
  /* color: var(--medium-green); */
  color:  var(--red);
}

.experience-item {
  /* color: blueviolet; */
  /* font-size: 24px; */
  margin-top: 0;
  margin-bottom: 60px;
}

.experience-date {
  margin-top: 0;
  margin-bottom: 3px;
  /* color: rgb(223 223 223); */
  color: var(--black);
  font-size: 18px;
}

p.experience-title {
  margin-top: 0;
  margin-bottom: 24px;
  font-size: 18px;
}

.experience-item ul {
  margin-top: 0;
  padding-left: 18px;
  /* list-style-type: "- " ; */
  list-style-type: "\2198  " ;  
}

.experience-item ul > li {
  /* color: violet; */
  font-size: 15px;
  line-height: 150%;
}

/* .experience-item ul > li::marker {
  color: blueviolet;
  content: "- ";
} */

ul.links {
  padding: 0;
  margin: 0;
}

ul.links > li {
  list-style-type: none;
  margin-bottom: 6px;
  font-size: 18px;
}

ul.links > li > a {
  color: initial;
  text-decoration: none;
}

ul.links > li > a:hover {
  background-color: var(--yellow);
}

.columns-flow-big {
  margin-bottom: 36px;
  columns: 3;
  column-gap: 24px;
  font-size: 24px;

}

.columns-flow-big p {
  margin: 0;
  margin-bottom: 18px;
}

.columns-flow-small {
  /* margin-bottom: 36px; */
  columns: 3;
  column-gap: 30px;
  /* font-size: 24px; */

}

/* .columns-flow-big p {
  margin: 0;
  margin-bottom: 18px;
} */

@media screen and (max-width: 1400px) {
  .columns-flow-big {
    columns: 2;
  }
}

@media screen and (max-width: 900px) {
  .columns-flow-big {
    columns: 1;
  }

  .columns-flow-small {
    columns: 2;
  }
}

@media screen and (max-width: 700px) {
  .main-container {
    display: block;
    height: 100%;
    background-color: white;
  }

  .buttons-container {
    position: fixed;
    bottom: 0;
    width: 100%;
    flex-direction: row;
    margin: 0;
  }
}

@media screen and (max-width: 400px) {
  .columns-flow-small {
    columns: 1;
  }
}
