.main-container {
  display: flex;
  flex-direction: row-reverse;
  height: 100vh;
  width: 100%;
  background-color: var(--yellow);

}

main {
  flex: 80%;
  padding: 24px;
  overflow-y: auto;
  background-color: white;
}

.buttons-container {
  height: min-content;
  margin-top: 110px;
  flex: 20%;
  display: flex;
  flex-direction: column;

}

.buttons-container button {
  text-decoration: none;
  border: none;
  padding: 12px;
  flex: 30%;
  background-color: var(--yellow);
  color: var(--black);

  font-family: "Inter", sans-serif;
  /* font-weight: 450; */
  font-size: 16px;
  text-transform: lowercase;
}

.buttons-container button:hover,
.buttons-container button.active {
  /* background-color: var(--yellow); */
  background-color: white;
}

.buttons-container button:hover {
  cursor: pointer;
}

.buttons-container button:focus-visible {
  outline: var(--black) solid 2px;
  outline-offset: -2px;
}

nav.back {
  margin-bottom: 36px;
}

nav.back > a {
  text-decoration: initial;
  color: lightgrey;
  transition: color 0.25s;
}

nav.back > a:hover {
  color: initial;
  transition: color 0.25s;
}

p.hello {
  margin: 0;
  color: rgb(175, 175, 175);
}

h1 {
  margin-top: 0;
  font-size: 48px;
}

h2 {
  margin-top: 0;
  margin-bottom: 6px;
  font-size: 24px;
  font-weight: 400;
}

h1 ~ p {
  margin-top: 0;
  font-size: 24px;
}

h1 ~ p a {
  color: blue;
  color: var(--medium-green);
  text-decoration: initial;
}

.experience-item {
/* color: blueviolet; */
font-size: 24px;
margin-top: 0;
margin-bottom: 72px;
}

.experience-date {
  margin-top: 0;
  margin-bottom: 24px;
  /* color: rgb(175, 175, 175); */
  color: var(--black);
  font-size: 18px;
}

p.experience-title {
  margin-top: 0;
  margin-bottom: 24px;
  font-size: 18px;
}

.experience-item ul {
  margin-top: 0;
  padding-left: 12px;
  /* list-style-type: none; */
}

.experience-item ul > li {
  /* color: violet; */
  font-size: 18px;
  line-height: 150%;
}

.experience-item ul > li::marker {
  content: '- ';
}

ul.links {
  padding: 0;
  margin: 0;
}

ul.links > li {
  list-style-type: none;
  margin-bottom: 6px;
  font-size: 18px;
}

ul.links > li > a {
  color: initial;
  text-decoration: none;
}

ul.links > li > a:hover {
  background-color: var(--yellow);
}

@media screen and (max-width: 700px) {
  .main-container {
    display: block;
    height: 100%;
  }
  
  main {
    /* height: 100%; */
    /* overflow-y: initial; */
    /* margin-bottom: 44px; */
  }

  .buttons-container {
    position: fixed;
    bottom: 0;
    width: 100%;
    flex-direction: row;
    margin: 0;
  }
}
