.experience {
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .experience h2 {
    margin-top: 0;
    font-size: 24px;
  }
  
  .experience-item {
    margin-bottom: 20px;
  }
  
  .experience-item h3 {
    margin-top: 0;
    margin-bottom: 5px;
    font-size: 20px;
  }
  
  .experience-item .experience-date {
    margin-top: 0;
    font-style: italic;
  }
  
  .experience-item .experience-title {
    margin-top: 5px;
    font-weight: bold;
  }
  
  .experience-item ul {
    margin-top: 5px;
    margin-bottom: 0;
    padding-left: 20px;
  }
  
  .experience-item li {
    margin-bottom: 5px;
  }
  