footer {
  /* border-top: 1px solid var(--main-color); */
  font-size: 12px;
  padding: var(--my-padding);
}

/* footer > div { 
  display: flex;
  margin: 0px auto;
  padding: 24px;
  display: flex;
  flex-direction: row;
  justify-content: left;
} */

footer  p {
  margin: 0px;
}
