body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100svh;
  margin: 0;
  padding: 12px;
}

h1 {
  margin-top: 0;
  padding: 6px;
  color: var(--black);
}

nav > a {
  text-decoration: none;
}

button.index-button {
  /* display: inline-flex; */
  /* gap: 12px; */
  /* height: 18px; */
  width: 100%;
  padding: 2px 6px;
  text-align: left;
  text-decoration: none !important;
  color: var(--black);
  border: none;
  background-color: white;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  /* font-weight: 500; */
}

button.index-button:hover {
  background-color: var(--black);
  cursor: pointer;
  color: white;
  font-weight: initial;
}

button.index-button::after {
  content: " ←";
  background-color: aquamarine;
  width: 18px;
  height: 18px;
  
}

button.index-button:hover::after {
  background-color: rgb(251, 69, 120);

}

