body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100svh;
  margin: 0;
  padding: 12px;
}

h1 {
  margin-top: 0;
  padding: 6px;
  color: var(--black);
  line-height: 0.9em;
  font-size: 60px;
}

nav > a {
  text-decoration: none;
}

button.index-button {
  width: 100%;
  margin-bottom: 9px;
  padding: 3px 6px;
  border: none;
  text-align: left;
  text-decoration: none !important;
  color: var(--black);
  background-color: white;
  font-family: "Inter", sans-serif;
  font-size: 24px;
    /* font-weight: 500; */
}

button.index-button:hover {
  background-color: var(--black);
  cursor: pointer;
  color: white;
  font-weight: initial;
}

button.index-button::after {
  content: " ←";
  background-color: aquamarine;
}

button.index-button:hover::after {
  background-color: rgb(251, 69, 120);

}

