:root {
  --navbar-height: 45px;
  --transition-timing: 200ms;
}

/* body {
  overflow-x: hidden;
} */

header {
  display: flex;
  flex-direction: column;
  position: sticky;
  top: 0;
  z-index: 100;
}

.navbar-a {
  padding: var(--my-padding);
  height: var(--navbar-height);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: var(--background-color);
  z-index: 98;
}

.navbar-b {
  /* visibility: hidden; */
  display: none;
  z-index: 97;
  overflow: hidden;
}

.navbar-a .navbar-links-a ul {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  gap: 12px;
}

.navbar-a li,
.navbar-b li {
  list-style: none;
}

/* .navbar .navbar-links ul li:hover {
  background-color: white;
  color: black;
  cursor: pointer;
} */

.navbar-a a,
.navbar-b a {
  text-decoration: none;
  padding: 0;
}

.navbar-a a:visited,
.navbar-b a:visited {
  /* text-decoration: none; */
  color: var(--main-color);
}

.navbar-a a:hover,
.navbar-b a:hover {
  background-color: var(--main-color);
  color: var(--background-color);
  color: white;
}

li.insta-nav-icon a {
  opacity: 0.5;
}

li.insta-nav-icon a:hover {
  background-color: initial;
  color: initial;
  opacity: 1;
}

li.insta-nav-icon a:active {
  scale: 1.1;
}

.navbar-logo {
  display: flex;
}

.navbar-logo img {
  width: 80px;
}

.burger {
  display: none;
  margin: 0px;
  width: calc((var(--navbar-height)) - 2 * (var(--my-padding)));
  height: calc((var(--navbar-height)) - 2 * (var(--my-padding)));
  /* background-color: blueviolet; */
  background-position: 50% 50%;

  background-image: url(/assets/icons/burger-simple-svgrepo-com.svg);
  transform: rotate(0deg);
  background-size: 120%;

  transition: all var(--transition-timing);
}

.burger.toggled {
  background-image: url(/assets/icons/cross-small-svgrepo-com.svg);
  transform: rotate(360deg);
  background-size: 175%;
}

.burger:hover {
  cursor: pointer;
}

.insta-nav-icon {
  display: flex;
  width: 21px;
  height: 21px;
}

/* .insta-nav-icon > a {
display: flex;
} */

.insta-nav-icon > a > img {
  /* margin: auto; */
  width: 100%;
  scale: 1.2;
}

@media only screen and (max-width: 700px) {
  .burger {
    display: block;
  }

  .navbar-a .navbar-links-a {
    display: none;
  }

  .navbar-b {
    display: block;
    position: absolute;
    /* width: 100vh; */
    height: 100vh;
    
    /* z-index: 99; */
    /* top: var(--navbar-height); */
    /* top: 0px; */
    /* overflow: hidden; */
    padding: 60px 12px 12px 12px;
    background-color: rgba(255, 255, 255, 0.8);
    margin-right: 0;
    padding: 0;

    
    transition: all var(--transition-timing);
    width: 0%;
    margin-left: 100%;
  }

  .navbar-b.active {
    width: 100%;
    margin-left: 0%;
  }

  .navbar-b .navbar-b-links {
    padding: 60px 12px 12px 12px;
    /* transition: all var(--transition-timing); */
    /* transform: translateX(100%); */

  }

  .navbar-b.active .navbar-b-links {
    /* transform: translateX(0vh); */

  }

  .navbar-b .navbar-b-links ul {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 0;
    margin: 0;
  }

  .navbar-b .navbar-b-links ul li {
    /* display: flex; */
    /* flex-direction: row; */
    /* margin: 0px 12px 0px 12px; */
  }
}
