*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  scroll-behavior: smooth;

  --black: black;
  --yellow: rgb(255, 243, 79);
  --medium-green: rgb(119, 221, 134);

  --my-padding: 12px;
}

:root {
  font-family: "Inter", sans-serif;
}
@supports (font-variation-settings: normal) {
  :root {
    font-family: "Inter var", sans-serif;
  }
}

body {
  margin: 0;
  padding: 0;
}

/* for degugging */
/* * {background: rgb( 200 300 20/ 0.1) !important;} */
